/*
============================================
; Title:  townsend-assignment-2.2
; Author: Ethan Townsend
; Date:   8/7/2019
; Description: web-425
;===========================================
*/

.parent {
    height: 90vh;
}

h1 {
    text-align: center;
    margin: 10px;
}