/*
============================================
; Author: Ethan Townsend
; Date:   8/12/2019
; Description: web-425
;===========================================
*/
mat-card {
    background-color: rgba(30, 143, 255, 0.233);
    margin: 5px;
}

button {
    margin: 2px
}